body{
    background: red;
}
h1 {
  color: green;
  font-size: 6em;
  letter-spacing: 10px;
  text-align: center;
  text-transform: uppercase;
}
.char1{
  color: black;
}
.char2{
  color: black;
}
.char3 {
  color: black;
}
.char6{
  color: gold;
  font-size: 1.5em;
}