// Global Stylesheet

// Color Palette
$primary-color: gold;
$secondary-color: purple;


// Typography

h1{
    font-family: 'Georgia', fantasy;
    color: orangered;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 3px 3px 3px yellow;
}


.description {
    font-size: 1.5em;
    color: white;
}

.footer {
    color: white;
}

// Hide for Mobile and Tablet
article h1{
    display: none;
}

// Video Player Styling
video {
    max-width: 100%;
    width: 100%;
}

// Background

html {
    background: url(../img/palace.png) no-repeat center center fixed;
    webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

//links
a:link {color: white;}
a:visited {color: navajowhite;}
a:hover {color: white;}
a:active {color: navajowhite;}

li {
    list-style: none;
}

// Player Styles - Find out where these go later

.mejs__time-loaded {
    background: rgb(243, 80, 0);
}